:root {
  --primary-color: #f46e62;
  --secondary-color: #f46e6250;
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0 auto;
  max-width: 100%;
}

h1,
h2,
p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 700;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 68px;
}

h2 {
  font-weight: 300;
  font-size: 36px;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.navbar-custom {
  background: var(--primary-color);
}

.navbar-custom a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.navbar-custom .navbar-brand {
  font-size: 24px;
  font-weight: 700px;
  font-weight: bold;
  letter-spacing: -1px;
}

.navbar-custom .navbar-toggler {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.75);
}

.about-me,
.contact-info {
  margin-top: 100px;
}

.primary-coloured-text {
  color: var(--primary-color);
}

.photo {
  max-width: 100%;
}
.button {
  background: var(--primary-color);
  color: white;
  border-width: 2px;
  border-color: var(--primary-color);
  border-radius: 40px;
  box-shadow: var(--box-shadow);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.button:hover {
  background: white;
  color: var(--primary-color);
  border-width: 2px;
  border-color: var(--primary-color);
}

.fa-brands {
  color: var(--primary-color);
  font-size: 36px;
}

.fa-brands:hover {
  cursor: pointer;
}

.footer {
  background: var(--secondary-color);
  padding: 10px;
}
