:root {
  /*--primary-color: rgb(245, 109, 97);*/
  --primary-color: rgb(247, 199, 5);
  --secondary-color: rgb(43, 43, 43);
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-hover: rgba(247, 199, 5, 0.24) 0px 3px 8px;
}

body {
  padding-top: 74px;
  margin: 0 auto;
  max-width: 100%;
}

header {
  padding: 0px;
  text-align: center;
  background-image: url(/images/tom-kaan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1,
h2,
h3,
h5,
p,
footer {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 400;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 68px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h2 span.topic {
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid var(--primary-color);
}

h3 {
  font-weight: 300;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

footer {
  text-align: center;
  padding: 10px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

/*Logo*/
.logo {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}

.logo-brackets {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  color: var(--primary-color);
}

.logo-text {
  text-align: center;
}

.logo-name {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  line-height: 28px;
}

.logo-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/*Rest of Navbar*/
.navbar-custom {
  background: white;
  box-shadow: var(--box-shadow);
}

.navbar-custom a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.navbar-custom .navbar-toggler {
  border-width: 0;
}

.primary-coloured-text {
  color: var(--primary-color);
}

.photo-about-me {
  max-width: 50%;
  clip-path: circle(50%);
}

.home {
  padding: 100px;
}

.about-me,
.work,
.education,
.skills,
.projects {
  padding: 50px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.skill {
  margin: 10px;
}

.progress-bar {
  background: var(--primary-color);
}

.photo-contact {
  max-width: 100%;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.button {
  background: var(--primary-color);
  color: white;
  border-width: 2px;
  border-color: var(--primary-color);
  border-radius: 40px;
  box-shadow: var(--box-shadow);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.button:hover {
  background: white;
  color: var(--primary-color);
  border-width: 2px;
  border-color: var(--primary-color);
}

.timeline {
  margin-top: 60px;
  padding: 15px;
}

.timeline-text {
  background: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.link {
  color: black;
  text-decoration: underline;
}

.link:hover {
  color: var(--primary-color);
}

.card {
  box-shadow: var(--box-shadow);
}

.card:hover {
  box-shadow: var(--box-shadow-hover);
}

.image {
  aspect-ratio: 1/0.75;
  object-fit: cover;
}

.fa-brands {
  color: var(--primary-color);
  font-size: 36px;
}

.fa-brands:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  .home {
    padding: 20px;
  }

  .about-me,
  .work,
  .education,
  .skills,
  .projects {
    max-width: 90%;
  }
}
