:root {
  --primary-color: rgb(245, 109, 97);
  --secondary-color: rgba(245, 109, 97, 0.5);
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
  margin: 0 auto;
  max-width: 100%;
}

h1,
h2,
h3,
h5,
p,
footer {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 700;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -2px;
  line-height: 68px;
}

h2 {
  font-weight: 300;
  font-size: 36px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  background: var(--primary-color);
  color: white;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

footer {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  margin-top: 60px;
  bottom: 0;
}

a:hover {
  text-decoration: none;
}

.navbar-custom {
  background: white;
  box-shadow: var(--box-shadow);
}

.navbar-custom a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.navbar-custom .navbar-brand {
  font-size: 24px;
  font-weight: 700px;
  font-weight: bold;
  letter-spacing: -1px;
}

.navbar-custom .navbar-toggler {
  border-width: 0;
}

.container {
  margin-top: 100px;
}

.primary-coloured-text {
  color: var(--primary-color);
}

.photo-about-me {
  max-width: 100%;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.photo-contact {
  max-width: 100%;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.button {
  background: var(--primary-color);
  color: white;
  border-width: 2px;
  border-color: var(--primary-color);
  border-radius: 40px;
  box-shadow: var(--box-shadow);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.button:hover {
  background: white;
  color: var(--primary-color);
  border-width: 2px;
  border-color: var(--primary-color);
}

.timeline {
  margin-top: 60px;
  padding: 15px;
}

.timeline-text {
  background: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.link {
  color: black;
  text-decoration: underline;
}

.link:hover {
  color: var(--primary-color);
}

.card {
  box-shadow: var(--box-shadow);
}

.card:hover {
  box-shadow: rgba(245, 109, 97, 0.24) 0px 3px 8px;
}

.image {
  aspect-ratio: 1/0.75;
  object-fit: cover;
}

.fa-brands {
  color: var(--primary-color);
  font-size: 36px;
}

.fa-brands:hover {
  cursor: pointer;
}

.fa-circle {
  color: var(--secondary-color);
}

.dot {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.line {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
